<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Life Weather</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
</head>
<body>
<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class=""><a href="#">Current</a></li>
                    <li role="presentation" class="active"><a href="#">7-Day</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Life Weather</h3>
        </div>

        <div class="row marketing">
                {% for day in data %}
                <div class="col-sm-3 rowheight50">{{day['dt']|shortdate}}</div>
                <div class="col-sm-3 rowheight50"><img src="http://openweathermap.org/img/w/{{day['weather'][0]['icon']}}.png"/></div>
                <div class="col-sm-3 rowheight50">{{day['weather'][0]['description']}}</div>
                <div class="col-sm-3 rowheight50">{{'%0.1f' % day['temp']['max']|float}}&deg; / {{'%0.1f' % day['temp']['min']|float}}&deg;</div>
                {% endfor %}
        </div>

        <footer class="footer">
            <p>&copy; Cannon Weather 2016</p>
        </footer>

    </div>
</body>
</html>